<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Grocify</title>
    <link rel="stylesheet" href="../public/css/sellerStyle.css">
</head>
<body>
    <%-include('includes/sellerHeader.ejs')%>

    <div class="mainBox">

        <div class="leftBox">
            
            <div class="opt1 opt">
                <i class="fa-regular fa-square-plus fa-lg"></i>
                <p>Add Product</p>
            </div>

            <div class="opt2 opt">
                <i class="fa-solid fa-list fa-lg"></i>
                <p>Product List</p>
            </div>

            <div class="opt3 opt">
                <i class="fa-regular fa-square-check fa-lg"></i>
                <p>Orders</p>
            </div>

        </div>

        <div class="rightBox">
            <div class="opt1Box optBox">
                <form method="POST" action="/seller/add">
                <p>Product Image</p>

                <!-- <div class="imageInputBox">
                <input type="file" id="fileInput" style="display:none;">
                <label for="fileInput">
                    <img src="https://www.pngplay.com/wp-content/uploads/8/Upload-Icon-Logo-Transparent-Free-PNG.png" class="uploadImage">
                    <p>Upload</p>
                </label>

                 <input type="file" id="fileInput" style="display:none;">
                <label for="fileInput">
                    <img src="https://www.pngplay.com/wp-content/uploads/8/Upload-Icon-Logo-Transparent-Free-PNG.png" class="uploadImage">
                    <p>Upload</p>
                </label>


                 <input type="file" id="fileInput" style="display:none;">
                <label for="fileInput">
                    <img src="https://www.pngplay.com/wp-content/uploads/8/Upload-Icon-Logo-Transparent-Free-PNG.png" class="uploadImage">
                    <p>Upload</p>
                </label>


                 <input type="file" id="fileInput" style="display:none;">
                <label for="fileInput">
                    <img src="https://www.pngplay.com/wp-content/uploads/8/Upload-Icon-Logo-Transparent-Free-PNG.png" class="uploadImage">
                    <p>Upload</p>
                </label>
                </div> -->

                <div class="imageInputs">

                <input type="text" placeholder="Image1 URL" class="productInputs" name="product[image1URL]"required>
                    <br>
                <input type="text" placeholder="Image2 URL" class="productInputs" name="product[image2URL]">
                    <br>
                <input type="text" placeholder="Image3 URL" class="productInputs" name="product[image3URL]">
                    <br>
                <input type="text" placeholder="Image4 URL" class="productInputs" name="product[image4URL]">
                </div>

                <br>

                <p>Product Name</p>

                <input type="text" placeholder="Type here" class="productInputs" required name="product[productName]">

                <br>

                <p>Product Description</p>

                <textarea placeholder="Type here" class="productInputs productDescrptionInput" required name="product[productDescription]"></textarea>

                <br>

                <p>Category</p>

                <select class="productInputs productCategoryInput" required name="product[productCategory]">
                    <option>Vegetables</option>
                    <option>Fruits</option>
                    <option>Drinks</option>
                    <option>Instant</option>
                    <option>Dairy</option>
                    <option>Bakery</option>
                    <option>Grains</option>
                </select>

                <div class="productPrices">

                    <div class="newPrice">
                    <p>New Price</p>
                    <input type="number" placeholder="0" required name="product[productNewPrice]">
                    </div>

                    <div class="oldPrice">
                    <p>Old Price</p>
                    <input type="number" placeholder="0" required name="product[productOldPrice]">
                    </div>

                </div>

                <button class="productAddBtn">Add</button>
                </form>

            </div>

            <div class="opt2Box optBox">
                <p>All Product</p>
                <br>
                <div class="allProducts">
                    <table>

                        <thead>
                            <th>Product</th>
                            <th>Category</th>
                            <th>Selling Price</th>
                            <th>In Stock</th>
                        </thead>

                        <% for(product of result) {%>  

                        <tr>
                            <td>
                               <div class="product">

                                <div class="productImage"><img src= "<%=product.productImage1%>" alt="productImage"></div>
                                <p class="productName"><%=product.productName%></p>
                                </div> 

                            </td>

                            <td>
                                <p><%=product.productCategory%></p>
                            </td>
                            
                            <td>
                                <p><b>$</b><%=product.newPrice%></p>
                            </td>

                            <td>
                                <div class="inStockBtn">
                                    <div class="btnCircle">

                                    </div>
                                </div>
                            </td>

                        </tr>
                        
                        <% } %>  

                    </table>
                </div>
            </div>

            <div class="opt3Box optBox">
                <h3>Opt 3 Selected</h3>
            </div>
        </div>

    </div>


    <!-- Script Code -->
    <script>
        let options = document.getElementsByClassName('opt');
        let optionsBox = document.getElementsByClassName('optBox');
        Array.from(options).forEach((option) =>{
            option.addEventListener('click', (val, idx)=>{
                Array.from(options).forEach((myStyleOpt)=>{
                    myStyleOpt.style.backgroundColor="white";
                    myStyleOpt.style.border="none";
                })
                option.style.backgroundColor="#4fbf8b27";
                option.style.borderRight="6px solid #4fbf8b";
                if(option.classList.value=='opt1 opt'){
                    Array.from(optionsBox).forEach((optBox)=>{
                        if(optBox.classList.value=='opt1Box optBox'){
                            optBox.style.display="inline-block";
                        }else{
                            optBox.style.display='none';
                        }
                    })
                }
                else if(option.classList.value=='opt2 opt'){
                    Array.from(optionsBox).forEach((optBox)=>{
                        if(optBox.classList.value=='opt2Box optBox'){
                            optBox.style.display="inline-block";
                        }else{
                            optBox.style.display="none";
                        }
                    })
                }
                else if(option.classList.value=='opt3 opt'){
                    Array.from(optionsBox).forEach((optBox)=>{
                        if(optBox.classList.value=='opt3Box optBox'){
                            optBox.style.display="inline-block";
                        }else{
                            optBox.style.display="none";
                        }
                    })   
                }
            })
        })


        //Switch on off button logic
        let inStockBtn = document.getElementsByClassName('inStockBtn');
        let inStock = true;
        Array.from(inStockBtn).forEach((stockBtn)=>{
            let stockBtnCircle = stockBtn.children[0];
            stockBtn.addEventListener('click', ()=>{
            if(inStock===true){
                stockBtn.style.backgroundColor="grey";
                stockBtnCircle.style.right="2vw";
                inStock=false;
            }
            else if(inStock===false){
                stockBtn.style.backgroundColor="rgb(87, 87, 255)";
                stockBtnCircle.style.right="0.28vw";
                inStock=true;
            }
        })
        })
       
    </script>    

</body>
</html>